.container {
    width: 480px;

    &.mobile {
        width: auto;
        min-width: 311px;
        min-height: 320px;
    }

    .status {
        width: 12px;
        height: 12px;
    }

    .image__mobile {
        max-height: 160px;
        width: auto;
    }
}
