@import "~assets/styles/config/colors";

.selectWrapper {
    padding-top: 28px;
    margin-bottom: 28px;
    border-bottom: 2px solid $gray;

    &:focus-within {
        border-bottom-color: $primary-new;
    }
}

.select {
    padding-bottom: 12px;
    padding-left: 12px;
    appearance: none;
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: $gray-900;

    &:focus ~ .selectLabel {
        font-size: 1rem;
        color: $primary-new;
        font-weight: 700;
    }
}

.selectLabel {
    position: absolute;
    top: 0;
    left: 12px;
    transition: 0.2s;
}
