$white: #fff;

$gray: #9b9b9b;
$gray-900: #333;

$red-400: #e96779 !default;

$green-100: #f3fcf3 !default;
$green-200: #e9fae5 !default;
$green-300: #b6f2b2 !default;
$green-400: #74db70 !default;
$green-500: #19bf33 !default;
$green-600: #11ab2a !default;
$green-700: rgba(72, 198, 134, 1);
$green-800: #008c23 !default;
$green-900: rgba(4, 154, 143, 1);
$green: rgba(45, 206, 137, 1);

$purple-100: #f9f7fb !default;
$purple-200: #eae5f0 !default;
$purple-300: #d3c7e0 !default;
$purple-500: #623590 !default;
$purple-600: #46127b !default;

$green-soft: #8abaae;
$orange-soft: #ffb347;

// New design system

$primary-new: #084997;
$secondary-new: #f58a07;
$white-new: #f7f5fb;
$black-new: #333333;
$positive-new: #909cc2;
$action-new: #ff6666;
$vibing-new: #f9ab55;
