@import "~assets/styles/config/colors";

$color: rgb(8, 73, 151);
$color20: rgba(8, 73, 151, 0.2);

.joinButton {
    box-shadow: 0px 14px 55px $color20;
    background-color: white;
    color: $color;
    border: 0;
    padding: 0;
    transition: all 0.3s ease-in-out !important;

    &:hover {
        background-color: $color;
    }

    & .content {
        padding: 18px 28px;
    }

    &.sm .content {
        padding: 12px 20px;
    }

    &.fixed {
        position: fixed;
        top: 32px;
        right: 32px;
    }

    &.fixedDesktop {
        position: fixed;
        top: 72px;
        right: 72px;
    }

    &:hover .append {
        border-left-color: white;
    }

    & .append {
        padding: 18px 28px;
        border-left: 1px solid $color;
    }
}

.bottomBorderElement {
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 65%;
        border-radius: 10px;
        background-color: $primary-new;
    }
}

.alternativeBlackBack {
    background-color: $alternative-black;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
    min-height: 244px;

    &isPortable {
        min-height: auto;
    }
}

.banner {
    background-color: $alternative-tertiary;
}
