@import "~assets/styles/config/colors";

.joinButton {
    box-shadow: 0px 14px 55px rgba(8, 73, 151, 0.2);
    background-color: white;
    color: rgb(8, 73, 151);
    border: 0;
    padding: 0;

    & .content {
        padding: 18px 28px;
    }

    &.sm .content {
        padding: 12px 20px;
    }

    &.fixed {
        position: fixed;
        top: 32px;
        right: 32px;
    }

    & .append {
        padding: 18px 28px;
        border-left: 1px solid rgb(8, 73, 151);
    }
}

.bottomBorderElement {
    position: relative;

    &::after {
        content: " ";
        position: absolute;
        bottom: -1px;
        height: 2px;
        width: 65%;
        border-radius: 10px;
        background-color: $primary-new;
    }
}

.alternativeBlackBack {
    background-color: $alternative-black;
}

.card {
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 20px;
}

.banner {
    background-color: $alternative-tertiary;
}
