.matchItem {
    &:after {
        content: " ";
        position: absolute;
        bottom: -24px;
        height: 2px;
        width: 100%;
        border-radius: 16px;
        background-color: #dee2e6;
    }

    &:last-child::after {
        left: -9999px;
    }
}
