@import "~assets/styles/config/colors";
@import "~assets/styles/config/shadows";

.successCover {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100%;
    background-color: $white;
    color: $gray-900;
    font-size: 1.5rem;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    z-index: 3;

    &.isSuccess {
        top: 0;
        opacity: 1;
    }
}

.successIcon {
    color: transparent;
}
