@import "~assets/styles/config/colors";
@import "~assets/styles/config/transitions";

.transition-250 {
    transition: all 0.25s ease-in-out;
}

.transition-quart-250 {
    transition: $easeOutQuart;
}

.transition-text-100 {
    transition: color 0.1s ease-in-out;
}

.typing {
    &-container {
        /*This part is important for centering*/
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &-wrapper {
        width: 16.5ch;
        text-align: left;
        animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
    }
}

.flying-fast-animation {
    animation: flying 3s infinite;
}

.flying-animation {
    animation: flying 4s infinite;
}

.flying-slow-animation {
    animation: flying 5s infinite;
}

.circle-pulp-animation {
    position: relative;

    &:before {
        content: " ";
        width: 12px;
        height: 12px;
        background-color: $green-200;
        border-radius: 16px;
        position: absolute;
        animation: scale-opacity-pulp 2s infinite;
    }

    &:after {
        content: " ";
        position: absolute;
        left: 4px;
        top: 4px;
        width: 4px;
        height: 4px;
        border-radius: 8px;
        background-color: $green-500;
    }

    &.start-soon {
        &:before {
            background-color: rgba(255, 179, 71, 0.5);
        }

        &:after {
            background-color: $orange-soft;
        }
    }
}

@keyframes flying {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scale-opacity-pulp {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.wrapper {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    overflow: hidden;
  }
  
  .wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -25%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 35%;
    background: rgba(255, 255, 255, .75);
    animation: wave 15s infinite linear;
  }
  
  @keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
  }
