@import "~assets/styles/config/colors";

.bg-white {
    background-color: $white;
}

.bg-light-green {
    background-color: $green-soft !important;
}

.bg-green-200 {
    background-color: $green-200 !important;
}

// New Design System

.bg-primary-new {
    background-color: $primary-new !important;
}

.bg-primary-new-75 {
    background-color: rgba(8, 73, 151, 0.75) !important;
}

.bg-secondary-new {
    background-color: $secondary-new !important;
}

.bg-secondary-new-70 {
    background-color: rgba(245, 138, 7, 0.7) !important;
}

.bg-positive-new {
    background-color: $positive-new !important;
}

.bg-vibing-new {
    background-color: $vibing-new !important;
}

.bg-white-new {
    background-color: $white-new !important;
}

.bg-secondary-gradient {
    background: linear-gradient(90deg, $secondary-new 75%, $vibing-new 100%);
}

.bg-action-new {
    background-color: $action-new !important;
}
