@import "~assets/styles/config/borders";
@import "~assets/styles/config/colors";

.rounded-lg {
    border-radius: $border-radius-lg !important;
}

.rounded-xl {
    border-radius: $border-radius-xl !important;
}

.rounded-circle {
    border-radius: $border-radius-xl * 15 !important;
}

.border-width-2 {
    border-width: 2px !important;
}

.border-transparent {
    border-color: transparent !important;
}

// New Design System

.border-primary-new {
    border-color: $primary-new !important;
}

.border-secondary-new {
    border-color: $secondary-new !important;
}

.border-positive-new {
    border-color: $positive-new !important;
}

.border-primary-new-75 {
    border-color: rgba(8, 73, 151, 0.75) !important;
}
