@import "~assets/styles/config/colors";
@import "~assets/styles/config/shadows";
@import "~assets/styles/config/borders";

.btn-unstyled {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    box-shadow: $shadow-none;

    &:focus {
        box-shadow: $shadow-none;
    }
}

.btn-white {
    background-color: $white;
    color: $gray-900;
    box-shadow: $shadow-soft !important;
    border-radius: $border-radius-lg;

    &:hover {
        box-shadow: $shadow-medium !important;
    }

    &:active {
        box-shadow: none !important;
    }
}

.btn-invisible {
    background-color: transparent;
    color: transparent;
}

.btn-green-soft {
    background-color: $green-soft;
    color: $white;
    border: 0;
    transition: all ease-in-out 0.25s;
    outline: 0;

    &:hover {
        box-shadow: $shadow-soft;
        color: $white;
    }
}

.btn-red {
    background-color: $red-400;
    color: $white;
    border: 0;
    transition: all ease-in-out 0.25s;
    outline: 0;
}

// new design system

.btn-primary-new {
    background-color: $primary-new;
    color: $white;
    box-shadow: $shadow-soft;
    transition: all .25s;

    &:hover {
        color: $white !important;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-secondary-new {
    background-color: $secondary-new;
    color: $white;
    box-shadow: $shadow-soft;
    transition: all .25s;

    &:hover {
        color: $white !important;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-vibing-new {
    background-color: $vibing-new;
    color: $white;
    box-shadow: $shadow-soft;
    transition: all .25s;

    &:hover {
        color: $white !important;
    }

    &:active {
        box-shadow: none;
    }
}

.btn-outline-primary-new {
    border-color: $primary-new;
    color: $primary-new;
    transition: all .25s;

    &:hover {
        background-color: $primary-new;
        color: $white;
        box-shadow: $shadow-soft;
    }
}
