@import "~assets/styles/config/colors";

.reflect-element {
    transform: rotate(180deg);
}

.hidden-element {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    clip-path: circle(0);
}

.visibility-hidden {
    visibility: hidden !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

.image {
    max-width: 100%;
    height: auto;
}

.scrollbar-invisible::-webkit-scrollbar {
    display: none;
}

.burger-icon {
    position: relative;
    height: 4px;
    width: 32px;
    border-radius: 20px;
    background-color: $gray-900;
    transition: all 250ms ease-in-out;

    &:after,
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        height: 4px;
        width: 32px;
        border-radius: 20px;
        background-color: $gray-900;
        transition: all 250ms ease-in-out;
    }

    &:after {
        bottom: -10px;
    }

    &:before {
        top: -10px;
    }

    &.open {
        background-color: transparent;

        &:after {
            transform: rotate(90deg);
        }

        &:before {
            transform: rotate(180deg);
        }
    }
}

.full-screen-height {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer !important;
}
