@import "~assets/styles/config/colors";

.reflect-element {
    transform: rotate(180deg);
}

.hidden-element {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    clip-path: circle(0);
}

.visibility-hidden {
    visibility: hidden !important;
}

.rotate-180 {
    transform: rotate(180deg);
}

.image {
    max-width: 100%;
    height: auto;
}

.scrollbar-invisible::-webkit-scrollbar {
    display: none;
}

.full-screen-height {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer !important;
}
