.px-2_5 {
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
}

.mr-2_5 {
    margin-right: 0.75rem !important;
}

.p-3_5 {
    padding: 1.25rem !important;
}

.px-3_5 {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

.py-2_5 {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.py-3_5 {
    padding-bottom: 1.25rem !important;
    padding-top: 1.25rem !important;
}

.pb-3_5 {
    padding-bottom: 1.25rem !important;
}

.pt-3_5 {
    padding-top: 1.25rem !important;
}

.px-4_5 {
    padding-left: 2.25rem !important;
    padding-right: 2.25rem !important;
}

.py-4_5 {
    padding-bottom: 2.25rem !important;
    padding-top: 2.25rem !important;
}

.pl-4_5 {
    padding-left: 2.25rem !important;
}

.mb-2_5 {
    margin-bottom: 0.75rem !important;
}

.mb-n3 {
    margin-bottom: -1rem;
}

.mb-3_5 {
    margin-bottom: 1.25rem !important;
}

.pl-6 {
    padding-left: 4.5rem !important;
}

.pb-6 {
    padding-bottom: 4.5rem !important;
}

.pt-6 {
    padding-top: 4.5rem !important;
}

.mb-6 {
    margin-bottom: 4.5rem !important;
}
