.px-2_5 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.p-3_5 {
    padding: 20px !important;
}

.pb-3_5 {
    padding-bottom: 20px !important;
}

.pt-3_5 {
    padding-top: 20px !important;
}

.px-3_5 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.py-3_5 {
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}

.px-4_5 {
    padding-left: 36px !important;
    padding-right: 36px !important;
}

.py-4_5 {
    padding-bottom: 36px !important;
    padding-top: 36px !important;
}

.mb-n3 {
    margin-bottom: -16px;
}

.mb-2_5 {
    margin-bottom: 12px !important;
}

.pl-4_5 {
    padding-left: 36px !important;
}

.pl-6 {
    padding-left: 72px !important;
}

.pb-6 {
    padding-bottom: 72px !important;
}

.pt-6 {
    padding-top: 72px !important;
}

.mb-6 {
    margin-bottom: 72px !important;
}

.py-2_5 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
