@import "~assets/styles/config/colors";

.tag {
    background-color: transparent;
    align-items: center;
    border-radius: $border-radius;
    display: inline-flex;
    font-size: 14px;
    line-height: 24px;
    padding: 3px 11px;

    &--danger {
        background-color: $action-new;
    }

    &--default {
        background: $positive-new;
    }

    &--sm {
        font-size: 11px;
        font-weight: 600;
        padding: 3px 7px;
        line-height: 16px;
    }

    &--xs {
        font-size: 11px;
        font-weight: 600;
        padding: 2px 4px;
        line-height: 16px;
    }
}
