@import "~assets/styles/config/colors";

.text-green-500 {
    color: $green-500;
}

.text-gray-900 {
    color: $gray-900 !important;
}

.text-white {
    color: $white;
}

.text-highlighted {
    text-shadow: 1px 1px rgba(51, 51, 51, 0.1);
}

.text-green-600 {
    color: $green-600;
}

.text-purple-600 {
    color: $purple-600;
}

.text-alternative-secondary {
    color: $alternative-secondary;
}

.text-alternative-tertiary {
    color: $alternative-tertiary !important;
}

// new design system

.text-primary-new {
    color: $primary-new !important;
}

.text-white-new {
    color: $white-new !important;
}
