@import "~assets/styles/config/colors";

@mixin smoothFont {
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

@mixin h3Font {
    font-size: 20px;
    line-height: 24px;
}

.list {
    &__item {
        padding-left: 16px;
        margin-bottom: 4px;
        position: relative;
        font-size: 16px;

        &:before {
            position: absolute;
        }
    }

    &-primary-new {
        li:before {
            content: " ";
            left: 0;
            top: 12px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: $primary-new;
            border-radius: 12px;
        }
    }

    &-features {
        li:before {
            content: " ";
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: $purple-soft;
            border-radius: 12px;
        }

        &-white {
            li:before {
                content: " ";
                left: 0;
                top: 8px;
                width: 8px;
                height: 8px;
                background-color: $white;
                border-radius: 12px;
            }
        }
    }

    &-check {
        li {
            padding-left: 24px;
            &:before {
                content: "✅";
                top: 0;
                left: 0;
            }
        }
    }
}

.features-list {
    li {
        padding-left: 16px;
        margin-bottom: 4px;
        position: relative;
        font-size: 16px;

        &:before {
            content: " ";
            width: 8px;
            height: 8px;
            background-color: $purple-soft;
            border-radius: 12px;
            position: absolute;
            left: 0;
            top: 8px;
        }
    }
}

.h0 {
    @include smoothFont();

    font-size: 48px;
    line-height: 56px;
}

.h1 {
    @include smoothFont();

    font-size: 32px;
    line-height: 48px;
}

.h2 {
    @include smoothFont();

    font-size: 24px;
    line-height: 32px;
}

.h2-28 {
    @include smoothFont();

    font-size: 24px;
    line-height: 28px;
}

.h2-responsive {
    @include smoothFont();

    font-size: 24px;
    line-height: 32px;

    @media only screen and (max-width: 1024px) {
        @include h3Font();
    }
}

.h3 {
    @include smoothFont();

    @include h3Font();
}

.h4 {
    @include smoothFont();

    font-size: 18px;
    line-height: 24px;
}

.regular {
    @include smoothFont();

    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.font-small {
    @include smoothFont();

    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.font-medium {
    @include smoothFont();

    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
}

.lh-44 {
    line-height: 44px !important;
}

h1,
h2,
h3,
h4,
p,
.h1,
.h2,
.h3,
.h4,
.regular,
label {
    margin-bottom: 0;
}

.exp-list {
    li {
        position: relative;

        &::after {
            content: " ";
            position: absolute;
            right: -15px;
            top: 50%;
            height: 4px;
            width: 4px;
            border-radius: 16px;
            background-color: $gray-900;
            opacity: 0.5;
            transform: translateY(-50%);
        }
    }
}
